@import 'tailwindcss';

@font-face {
  font-family: 'DIG';
  src: url('./assets/fonts/Digital-7.woff2'),
    url('./assets/fonts/Digital-7.woff2');
}

:root {
  --color-page-bg: #030B16;
  --color-calc-bg: #0C1420;
  --color-screen-bg: #000813;
}

@layer components {
  #root {
    @apply m-0 p-0;
  }

  .text-glow {
    text-shadow: 1px 0 5px rgba(255, 255, 255, 0.3), -1px 0 5px rgba(255, 255, 255, 0.3);
  }
}